<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Connect</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="." ><mat-icon class="example-icon">home</mat-icon>Home</a>
    <a mat-button routerLink="posts"><mat-icon class="example-icon">chat</mat-icon>Posts</a>
    <a mat-button routerLink="data">Data</a>
    <a mat-button routerLink="signin">Signin</a>
    <a mat-button routerLink="signup">Signup</a>
    <a mat-button routerLink="signout"><mat-icon class="example-icon" >delete</mat-icon>SignOut</a>
    <mat-icon class="example-icon" color="accent">favorite</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
